.home {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: #00000070;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.isoxon_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width:fit-content;
}

.isoxon_inp {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    width:fit-content;
    margin-right: 50px;
}

.isoxon_inp:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.isoxon_btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    width:fit-content;
}

.isoxon_btn:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}


.home_div {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 30px #FFF;
    background: #000;
}

.home_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tanishtiruv {
    width: 48%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: 1s;
    box-shadow: 0 0 10px #FFF;
    background: #00000099;
    overflow: hidden;
}

.tanishtiruv_i {
    font-size: 35px;
}

.tanishtiruv h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
}

.tanishtiruv>h1>i {
    font-size: 40px;
    font-family: serif;
    margin-left: 20px;
    color: #FFF;

}

.tanishtiruv h2 {
    font-size: 35px;
    line-height: 50px;
    margin-top: 10px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
}

.tanishtiruv h2 i {
    font-size: 35px;
    font-family: serif;
    margin-left: 20px;
    color: #FFF;
}

.tanishtiruv h3 {
    font-size: 30px;
    line-height: 50px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
}

.tanishtiruv h3 i {
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
    color: #FFF;
}


.hidden_img {
    width: 80%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 30px #FFF;
    background: #000;
    display: none;
}

.hidden_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:900px) {

    .home_div {
        border: 2px solid black;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 0 0 30px #FFF;
        background: #000;
    }

    .home_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tanishtiruv_i {
        font-size: 35px;
    }

    .tanishtiruv h1 {
        font-size: 30px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv>h1>i {
        font-size: 30px;
        font-family: serif;
        margin-left: 20px;
        color: #fff;

    }

    .tanishtiruv h2 {
        font-size: 30px;
        line-height: 50px;
        margin-top: 10px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv h2 i {
        font-size: 30px;
        font-family: serif;
        margin-left: 20px;
        color: #FFF;
    }

    .tanishtiruv h3 {
        font-size: 25px;
        line-height: 50px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv h3 i {
        font-size: 25px;
        font-family: serif;
        margin-left: 20px;
        color: #FFF;
    }

}

@media (max-width:750px) {

    .home {
        height: 100%;
        padding-bottom: 50px;
    }

    .home_div {
        display: none;
    }

    .isoxon_form {
        top: 100px;
    }

    .tanishtiruv {
        width: 80%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        transition: 1s;
        box-shadow: 0 0 10px #FFF;
    }

    .tanishtiruv_i {
        font-size: 35px;
    }

    .tanishtiruv h1 {
        font-size: 30px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv>h1>i {
        font-size: 30px;
        font-family: serif;
        margin-left: 20px;
        color: #FFF;

    }

    .tanishtiruv h2 {
        font-size: 30px;
        line-height: 50px;
        margin-top: 10px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv h2 i {
        font-size: 30px;
        font-family: serif;
        margin-left: 20px;
        color: #FFF;
    }

    .tanishtiruv h3 {
        font-size: 25px;
        line-height: 50px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
    }

    .tanishtiruv h3 i {
        font-size: 25px;
        font-family: serif;
        margin-left: 20px;
        color: #FFF;
    }

    .hidden_img {
        display: block;
        margin-top: 30px;
    }

    .isoxon_form {
        flex-direction: column;
        align-items: flex-start;
        top: 200px;
        padding: 0 70px;
      }
    
      .isoxon_inp,
      .isoxon_btn {
        margin-top: 10px;
      }
}